body{
    font-family: 'IBM Plex Sans', sans-serif;
}
#diff-color{
    color: orange;
}
.flexible-container{
    display: flex;   
    padding: 2%;
    padding-bottom: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 100%;
}
#orange-border{
    border-left: 3px solid orange;
    padding-left: 5px;
}
/* .link-button{
    text-decoration: none;
} */
.link-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 30px;
    background-image: linear-gradient(rgb(236, 200, 133), rgb(228, 33, 33));
    color: white;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
}
.link-button:hover{
    opacity: .7;
}